#body {
  background-color: #024A68;
}

#header {
  min-height: 50px;
}

#title {
  color: #ffd773;
  font-size: 26px;
  font-family: 'Libre Baskerville', serif;
}

#sections {
  position: relative;
}

#left_column {
  float: left;
}

#main {
  float: right;

}

#footer {

}
