body {
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  line-height: 20px;
  color: #292929;
}

#header {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 90%;
  background-image: url("../assets/header_m.jpg");
  height: 50px;
  box-shadow: 3px 2px 3px #b3b3b3;
}

#title {
  position: absolute;
  top: 2px;
  left: 90px;
  font-weight: bold;
  color: white;
}

#main-text {
  display:none;
}

h3 {
  font-size: 18px;
  color: #292929;
}
#footer {
  display: none;
}

#sections {
  margin-top: 80px;
}
